.header {
  font-family: Montserrat;
  font-weight: 600;
  padding-top: 80px;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;

  // &__nav {} This class is placed at the bottom

  &__navbar {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: translateY(-150%);
    transition: 0.6s;
    &.active {
      transform: none;
    }
  }

  &__navigation {
    display: flex;
    align-items: center;
    flex-grow: 1;
  }

  &__logo {
    display: block;
    max-width: 206px;

    img {
      width: 100%;
      height: auto;
      display: none;
      @media (min-width: $breakpoint768) {
        display: block;
      }
    }
    img + img {
      display: block;
      @media (min-width: $breakpoint768) {
        display: none;
      }
    }
  }

  &__list {
    display: none;
    padding-left: 5px;
    font-size: 14px;
    line-height: 17px;
    @media (min-width: $breakpoint1310) {
      display: flex;
    }
  }

  &__item {
    margin-left: 35px;
  }

  &__item-link {
    color: $white-color;
    text-transform: uppercase;
    transition: all 0.4s ease;

    &:hover {
      color: #00a3ff;
    }

    &--md {
      display: none;
      @media (min-width: $breakpoint1310) {
        display: inline-block;
      }
    }

    &--sm {
      display: inline-block;
      @media (min-width: $breakpoint1310) {
        display: none;
      }
    }
  }

  &__languages {
    display: none;
    border-radius: 10px;
    column-gap: 15px;
    row-gap: 5px;
    color: $white-color;
    font-size: 14px;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    bottom: 0;
    background: #151923;
    overflow: auto;
    > p {
      display: none;
      font-weight: 700;
      font-size: 24px;
      line-height: 28px;
    }
    > .close-lang {
      display: none;
    }

    &.active {
      @media (min-width: $breakpoint768) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: max-content;
        gap: 0;
        position: fixed;
        z-index: 60;
        top: 50%;
        left: 50%;
        right: auto;
        bottom: auto;
        transform: translate(-50%, -50%);
        padding: 110px 35px 35px;
        > p {
          display: block;
          white-space: nowrap;
          position: absolute;
          top: 45px;
          left: 50%;
          transform: translateX(-50%);
        }
        > .close-lang {
          display: block;
          position: absolute;
          top: 20px;
          right: 20px;
          width: 10px;
          height: 10px;
          transform: rotate(45deg);
          cursor: pointer;
          &::before,
          &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            top: 4px;
            left: 0;
            background: #fff;
          }
          &::after {
            width: 2px;
            height: 100%;
            top: 0;
            left: 4px;
          }
        }
        + .lang-overlay {
          position: fixed;
          z-index: 55;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: rgba(0, 0, 0, 0.6);
          backdrop-filter: blur(20px);
        }
      }
    }
  }

  &__languages-btn {
    color: $white-color;
    display: inline-flex;
    align-items: center;
    padding: 12px 14px;
    text-transform: capitalize;
    border: 1px solid transparent;
    border-radius: 5px;

    &.active {
      border-color: rgba(155, 153, 173, 0.2);
    }

    img,
    svg {
      display: inline-block;
      margin-right: 7px;
      width: 20px;
      height: 20px;
      overflow: hidden;
      border-radius: 50%;
    }
  }

  &__buttons {
    font-family: Roboto;
    font-weight: 700;
    line-height: 16px;
    display: flex;
    align-items: center;
  }

  &__buttons-lang {
    display: none;
    align-items: center;
    border: 1px solid rgba(155, 153, 173, 0.2);
    padding: 9px 13px;
    background: transparent;
    border-radius: 5px;
    color: $white-color;
    font-weight: 700;
    font-size: 14px;
    transition: all 0.4s ease;
    text-transform: capitalize;
    &:hover {
      background: rgba(255, 255, 255, 0.05);
    }
    @media (min-width: $breakpoint768) {
      display: flex;
    }
    svg {
      width: 20px;
      height: 20px;
      border-radius: 50%;
    }
    span {
      margin-left: 7px;
    }
    &.hidden {
      display: none !important;
      + .header__buttons-text {
        display: block;
      }
    }
  }

  &__buttons-text {
    display: none;
    color: $white-color;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 12px;
    line-height: 14px;
    padding: 13px;
  }

  &__buttons-login {
    margin-left: 20px;
  }
}

//whis show class
.header__nav {
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  right: 0;
  height: auto;
  padding: 0 20px;
  transition: all 0.3s ease;

  @media (min-width: $breakpoint768) {
    padding: 0 30px;
  }

  &.show {
    height: 100%;
    background: #151923;
    background: linear-gradient(
      180deg,
      rgba(21, 25, 35, 1) 70%,
      rgba(0, 0, 0, 0.5) 70%
    );
    backdrop-filter: blur(20px);

    // for burger munu <= 768

    .header__navigation {
      flex-grow: 0;

      @media (min-width: $breakpoint768) {
        flex-grow: 1;
      }
    }

    .header__languages.active {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: max-content;
      padding: 0 20px;
    }

    .header__buttons {
      height: 40px;
      flex-grow: 1;

      @media (min-width: $breakpoint768) {
        flex-grow: 0;
      }
    }

    .header__buttons-lang {
      display: flex;

      @media (min-width: $breakpoint768) {
        display: none;
      }
    }

    .header__buttons-login {
      display: none;

      @media (min-width: $breakpoint768) {
        display: block;
      }
    }

    // .header__logo {
    // 	display: none;

    // 	@media (min-width: $breakpoint768) {
    // 		display: block;
    // 	}
    // }

    .header__list {
      display: block;
      position: absolute;
      top: 100px;
      left: 0;
      padding-left: 20px;

      @media (min-width: $breakpoint768) {
        top: 80px;
        padding-left: 30px;
      }
    }

    .header__item {
      margin-bottom: 33px;
      margin-left: 0;
    }
  }
}

.burger {
  display: block;
  margin-left: 19px;
  position: relative;
  width: 31px;
  height: 22px;
  cursor: pointer;
  transition: all 0.3s ease;
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 4px;
    background: $white-color;
    border-radius: 4px;
    transition: all 0.3s ease;
  }
  &::after {
    top: auto;
    bottom: 0;
    width: 70%;
  }
  span {
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background: $white-color;
    left: 0;
    top: 50%;
    opacity: 1;
    transform: translateY(-50%);
  }
  &.active {
    &::before,
    &::after {
      top: 9px;
      width: 100%;
      transform: rotate(45deg);
    }
    &::after {
      transform: rotate(-45deg);
    }
    span {
      opacity: 0;
    }
  }
  @media (min-width: $breakpoint1310) {
    display: none;
  }
}
