.marquee {
  overflow: hidden;
  &__inner {
    padding: 4px 0 0;
  }

  &__inner-items {
    display: flex;
    gap: 10px;
    @media (min-width: $breakpoint1310) {
      gap: 15px;
    }
    @media (min-width: $breakpoint1920) {
      gap: 25px;
    }
    &:first-child {
      margin-bottom: 10px;
      @media (min-width: $breakpoint1310) {
        margin-bottom: 15px;
      }
      @media (min-width: $breakpoint1920) {
        margin-bottom: 25px;
      }
    }
  }

  &__inner-img {
    width: 145px;
    height: 145px;
    border-radius: 10px;
    overflow: hidden;
    flex-shrink: 0;
    @media (min-width: $breakpoint1310) {
      width: 200px;
      height: 200px;
    }
    @media (min-width: $breakpoint1920) {
      width: 295px;
      height: 295px;
    }
    &:hover {
      box-shadow: 0px 0px 22px 0px #000;
    }
  }
}
