// Container & Breakpoints
$breakpoint1920: 1819.98 + px;
$breakpoint1310: 1309.98 + px;
$breakpoint992: 991.98 + px;
$breakpoint768: 767.98 + px;
$breakpoint576: 575.98 + px;

$backgroundPrimary: #060912;
$white-color: #fff;
$brand-color: #9bf00b;
$sub-color: #9b99ad;
// $accent-color: #BF0830;
// $title-color: #1A2578;
// $text-color: #484C63;
// $textnav-color: #646A89;
// $footerbg-color: #0D123C;

// Burger Menu
$burgerBreakpoint: $breakpoint768;
$burgerColor: #000;
$burgerActiveColor: #000;
